@model AuctionCoordinationTool.Models.SelectionModule

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#BidderName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ClientFiltering_GetBidders", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.bidderName,
                                value: item.bidderName,
                                bidderId: item.bidderId
                            }
                        }))
                    }

                })
            },
            select: function (event, ui) {
                $("#BidderId").val(ui.item.bidderId)

            }
        });

        $("#DonationName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ClientFiltering_GetDonations", "Home")',
                    type: "POST",
                    datatype: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.donationName,
                                value: item.donationName,
                                donationId: item.donationId
                            }
                        }))
                    }

                })
            },
            select: function (event, ui) {
                $("#DonationId").val(ui.item.donationId)

            }
        });
    });

    //$(function () {
    //    var availableNames = [
    //        "Ready Player One",
    //        "This is a Test",
    //        "Please Work",
    //        "Damnit"
    //    ];
    //    $("#BidderName").autocomplete({ source: availableNames });
    //});

</script>

<div>
    <h3>Bidders</h3>
    <h4>@Html.ActionLink("Add A New Bidder", "Create", "Bidders")</h4>
    @using (Html.BeginForm("Route", "Home", FormMethod.Post))
    {

        @Html.LabelFor(model => Model.BidderName, new { @class = "control-label" })
        @Html.TextBoxFor(model => Model.BidderName, new { @class = "form-control" })
        @Html.HiddenFor(model => Model.BidderId)

        <input type="submit" value="Assign Paddle / Details" formaction="@Url.Action("Route_Paddle","Home")" class="btn btn-primary" />
        <input type="submit" value="Checkout" formaction="@Url.Action("Route_CheckOut","Home")" class="btn btn-primary" />
    }
</div>
<div>
    <h3>Donations</h3>
    @using (Html.BeginForm("Route", "Home", FormMethod.Post))
    {

        @Html.LabelFor(model => Model.DonationName, new { @class = "control-label" })
        @Html.TextBoxFor(model => Model.DonationName, new { @class = "form-control" })
        @Html.HiddenFor(model => Model.DonationId)

        <input type="submit" value="Enter Runner Sheet" formaction="@Url.Action("Route_Runners","Home")" class="btn btn-primary" />
        <input type="submit" value="Details" formaction="@Url.Action("Route_Details","Home")" class="btn btn-primary" />
    }

</div>
<div>
    <h3>Current Grand Total: @ViewBag.GrandTotal.ToString("C2")</h3>
</div>