@model IEnumerable<AuctionCoordinationTool.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaddleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPerUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsGuestPass)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaddleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGuestPass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BidId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BidId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BidId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
