@model IEnumerable<AuctionCoordinationTool.Models.Bidder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemberOrFriend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondaryFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondaryLastName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberOrFriend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BidderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BidderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BidderId">Delete</a> |
                <a asp-action="CheckOut" asp-route-id="@item.BidderId">Check Out</a>
            </td>
        </tr>
}
    </tbody>
</table>
