@model AuctionCoordinationTool.Models.Donation


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatedValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedStartingBid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestedStartingBid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsOffered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsOffered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PotentialTaxBreak)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PotentialTaxBreak)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RainDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RainDate)
        </dd>
    </dl>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName("Donor Name")
        </dt>
        <dd>
            @ViewBag.Donor.FullID
        </dd>
        <dt>
            @Html.DisplayName("Donor Phone Number")
        </dt>
        <dd>
            @ViewBag.Donor.PhoneNumber
        </dd>
        <dt>
            @Html.DisplayName("Donor Email Address")
        </dt>
        <dd>
            @ViewBag.Donor.EmailAddress
        </dd>
        <dt>
            @Html.DisplayName("Repeat Donor?")
        </dt>
        <dd>
            @ViewBag.Donor.RepeatDonor
        </dd>
    </dl>
    <hr />
    <h2>Current Bids -- Total: @ViewBag.TotalAmount</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Paddle #")
                </th>
                <th>
                    @Html.DisplayName("Cost Per Unit")
                </th>
                <th>
                    @Html.DisplayName("Units #")
                </th>
                <th>
                    @Html.DisplayName("Subtotal")
                </th>
                <th>
                    @Html.DisplayName("Is Guest Pass?")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Bids)
            {
            <tr>
                <td>
                    @ViewBag.Paddles[item.PaddleId].PaddleNumber
                </td>
                <td>
                    @item.CostPerUnit.ToString("C2")
                </td>
                <td>
                    @item.Units
                </td>
                <td>
                    @item.TotalCost.ToString("C2")
                </td>
                <td>
                    @item.IsGuestPass
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonationID">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="EnterSheet" asp-controller="Bids" asp-route-id="@Model.DonationID">Enter Bidding Sheet</a>
</div>
